<div class="collout collout--primary">
  <div class="grid grid-cols-2">
    <div class="collout__content">
      <h2 class="collout__heading">Ready to Get started</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam quo
        eveniet facilis, et ut unde sint quam ipsa delectus nostrum Lorem ipsum
        dolor sit amet..
      </p>
    </div>
    <a class="btn btn--secondery btn--primary btn--streched" href=""
      >Get started</a
    >
  </div>
</div>
